doctype html
html
  head
    title Booking Confirmation
    style.
      body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        padding: 20px;
        display: flex;
        justify-content: center;
      }
      .container {
        max-width: 700px;
        background:  #f3fbff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        overflow: hidden;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .success {
        text-align: center;
        font-weight: bold;
        margin: 15px 0;
      }
      .car-img img {
        width: 70%;
        height: auto;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        transition: transform 0.3s;    
      }
      .details {
        padding: 0 20px;
      }
      .car-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
      }
      .subtext {
        color: #888;
        margin-bottom: 5px;
      }
      .info {
        display: flex;
        align-items: center;
        margin: 5px 0;
      }
      .info i {
        margin-right: 8px;
      }
      .section-title {
        font-weight: bold;
        margin-top: 15px;
      }
      .booking-overview {
        margin-top: 10px;
      }
      li {
        list-style: none;
        
      }
      li:before {
        content: "✓ ";
        color: green;
        font-weight: bold;
      }

  body
    .container
      p.success Your booking request Successful !!!
      .car-img
        img(src="https://helicar.nnine.training/_next/image?url=%2Fblog.jpg&w=1920&q=75", alt="Car image")
      .details
        p.car-title Jeep
        p.subtext asdfnnsdfij
        .info
          i 🧍‍♂️
          span 9 Seats
        .info
          i 🚗
          span License: BA 1 JA 2023

        hr

        .section
          .section-title 📍 Pickup
          p Kathmandu , KMC hospital
          p April 14, 2025 | 08:00 AM

        .section
          .section-title 📍 Destination
          p Kathmandu , KMC hospital
          p April 14, 2025 | 12:00 PM

        .section
          .section-title Your booking overview:
        ul.booking-overview
        li 24/7 Roadside Assistance Hotline
        li GPS
        li Limited Miles
        li Booking option: Best price - pay now , cancel and rebook for a fee